@import url('file:///home/frost/.cache/wal/colors-waybar.css');



* {
    border: none;
    border-radius: 16px;
    font-family: "JetBrainsMono NFM";
    font-weight: normal;
    font-size: 14px;
    min-height: 0;
}

tooltip {
    color: @background;
    border-radius: 32px;
    background-color: @foreground;
    text-shadow: none;
}

tooltip * {
    color: @background;
    text-shadow: none;
}

window#waybar {
    background-color: @background;
    color: @foreground;

}

#clock {
    font-size: 18px;
    font-weight: bold;
    /*
    border-left: solid 2px @color1;
    border-right: solid 2px @color1;
    */
    border-radius: 32px;
    background-color: @color1;
    padding: 0px 36px 0px 36px;
    margin: 4px;

}

#workspaces {
    /*background-color: @foreground;
    color: @foreground;*/
    margin: 4px;
    padding: 0 16px 0 16px;
    border-radius: 0;
    border-right: 2px dashed @color8;
}

#workspaces button {
    color: @color7;
    border-radius: 16px;
    margin: 0px 4px 0 4px;
    background-color: @color8;
    padding: 0px 16px 0px 16px;
    border: 1px solid @color8;
}


#workspaces button.active {
    background-color: @color9;
    color: @foreground;
    border: 1px solid @foreground;
}

#load {
    margin: 4px 0 4px 0;
    padding: 0 0 0 0;
}

#temperature {
    margin: 4px 0 4px 0;
    padding: 0 16px 0 0;
    border-radius: 0;
    border-right: 2px dashed @color8;

}

#memory {
    margin: 4px 0 4px 0;
    padding: 0 16px 0 16px;
    border-radius: 0;
    border-right: 2px dashed @color8;

}

#pulseaudio-slider {
    margin: 4px 0 4px 0;
    padding: 0 0 0 16px;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 100px;
    border-radius: 5px;
    background-color: black;
}

#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: @color3;
    background: linear-gradient(90deg, @color2, @color13);
}

#pulseaudio {
    margin: 4px;
    padding: 0 16px 0 0;
}

#pulseaudio.muted {
    color: @color8;
}

#cava {
    color: @color4;
    margin-left: 32px;
    margin-right: 32px;
}
