/* 
*   colors from wal : --wofi-colorX
*
*/

* {
    color: --wofi-color15;
    font-family: 'JetBrainsMono NFM';
    font-size: 20px;
}


window {
    border-radius: 0px;
    border: 0px solid --wofi-color0;
    background-color: --wofi-color0;
}

#input {
    margin: 20px;
    border-radius: 16px;
    border: none;
    background: linear-gradient(90deg, --wofi-color2, --wofi-color13);
    color: --wofi-color15;
    outline: none;
    font-weight: bold;
}

#input:focus {
    border: 0px;
    outline: none;
}


entry {
    border: none;
    box-shadow: none;
    /* removes the focus ring */
}

entry:focus {
    border: none;
    box-shadow: none;
    /* critical to remove the blue outline */
}

#inner-box {
    margin: 10px 0 10px 0;
}

#outer-box {}

#scroll {
    margin: 0 20px 0 20px;
    border-top: 5px dotted --wofi-color8;
}

#text {}

#entry {
    margin: 5px 0 0 0;
}

#entry:selected {
    background-color: --wofi-color8;
    border-radius: 16px;
    outline: none;
    font-weight: bold;
    color: white;
}

#expander-box {
    background: none;
    margin: 0 0 10px 30px;
}

#img {
    margin: 0 5px 0 5px;
}
